.section-map {
	padding: 180px 0;
	position: relative;

	&::before {
		content: "V";
		z-index: -1;

		right: calc(50% + 555px);
		transform: translate(50%, 0%);

		@include decorNumber;
		top: 180px;
		line-height: 1;
	}

	@include mediaTablet {
		padding: 60px 0;
	}
}

.section-map__title {
	margin-bottom: 88px;
	@include mediaTablet {
		margin-bottom: 44px;
	}
}

.map {
	background-color: #626262;
	height: 358px;
}
